body {
  background-color: lightgray !important;
  margin:0;
  width: 100%;
  height: auto;
}

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 20rem;
  margin-bottom: 20rem;
}

.row {
  display: flex;
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  border-radius: 5px;
  padding: 10px;
}

.container-sm {
  text-align: center;
}

.cartTotal {
  margin-top: auto;
  font-size: larger;
  font-weight: 600;
  font-family: Calibri;
  text-align: right;
}

.RemoveIcon {
  cursor: pointer;
}


